
<!--

écrit en reprenant le code de baeldung

-->

<div class="card my-5">
  <div class="card-body">

    <!-- début formulaire -->

    <!--  button de téléchargement-->

    <!--
    <form (ngSubmit)="downLoadVideo()" #dlForm="ngForm">
      <div class="form-group">


        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter your name"
               required #name="ngModel">


      </div>-->

    <!--<a href="{{this.videoFolder}}/OceanDeep.mp3" download="{{this.videoService.getVideoChosenForDL()}}.mp3">-->
    <a href="/home/nathanb/Bureau/Bureau/Bureau/Perso/projets_développement_informatique/VideoConverterPersonalFiles/MP3_output/{{this.videoService.getVideoChosenForDL()}}" download="{{this.videoService.getVideoChosenForDL()}}">
        <button class="btn btn-info"> télécharger : {{this.videoService.getVideoChosenForDL()}} </button>
      </a>

    <!-- fin formulaire -->

  </div>
</div>

